@model IEnumerable<MVC_ECommerceTrgovina.Models.Items>
@{
    ViewData["Title"] = "Početna";
}
@if(ViewBag.filter){
<div class="row">
    @*Filter s kategorijama*@
    <div class="col-6">

        <form method="GET" asp-area="" asp-controller="Home" asp-action="Index">

            <div class="input-group mb-3">
                    
                <select class="form-select" id="floatingSelect" name="categoryId">
                    <option selected value="">Svi</option>
                    @foreach(var category in ViewBag.Categories)
                    {
                    <option value="@category.Id">@category.Title</option>
                    }
                </select>
                   
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Filter</button>
                </div>
            </div>
           
        </form>
        
    </div>
</div>
}

<div style="margin-bottom:60px; float:left">

@foreach (var item in Model)
{
   <div class="card float-md-start m-2" style="width: 25rem;">
 
  @if (item.ImageName == null || item.ImageName == "")
            {
               <p>
                    <img class="card-img-top" src="~/images/image-not-found.jpg" height=250; width=100% >
                </p>
            }
            else
            {
                 <p>
                    <img class="card-img-top" src="~/images/@item.ImageName" height=250; >
                </p>
                
            }
  <div class="card-body" style="min-height:150px;">
    <h5 class="card-title">@item.Title</h5>
    <p class="card-text">@item.Description</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">@item.Price</li>

  </ul>
  <div class="card-body">
   @* <a href="#" class="card-link">Card link</a>*@
    <form asp-action="Detalji" asp-route-id="@item.Id">
        <button class="btn btn-outline-info" id="@item.Id">Detalji</button>
   </form>
  </div>
</div>
}
</div>
