@model IEnumerable<MVC_ECommerceTrgovina.Models.Users>
 
<h1>Korisnici</h1>
<hr />

<p>
    <a asp-action="Create">Kreiraj novog korisnika</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Rola)</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th></th>
            
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Rola)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" >Details</a> |
                    @if (item.Rola!="Admin")
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                    
                </td>
            </tr>
        }
    </tbody>
</table>