@model IEnumerable<MVC_ECommerceTrgovina.Models.Items>


<h1>Proizvodi</h1>

<p>
    <a asp-action="Create">Kreiraj novi proizvod</a>
</p>
<div class="row mb-5">
    @*Filter s kategorijama*@
    <div class="col-6">

        <form method="GET" asp-area="Admin" asp-controller="Items" asp-action="Index">

            <div class="input-group mb-3">
                    
                <select class="form-select" id="floatingSelect" name="categoryId">
                    <option selected value="">All</option>
                    @foreach(var category in ViewBag.Categories)
                    {
                    <option value="@category.Id">@category.Title</option>
                    }
                </select>
                   
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Filter</button>
                </div>
            </div>
           
        </form>
        
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th style="width:30%">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td style="width:30%">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Category.Title)
            </td>
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Izmjena</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Brisanje</a>
            </td>
        </tr>
}
    </tbody>
</table>
